
ul, #generalWorksGroupsUL {
    list-style-type: none;
}

#generalWorksGroupsUL {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
}

#generalWorksUL {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
}

.modal-body > .row > .col {
    border-left: 1px solid #e6e9ed;
}

.vehicleunit, .caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.workgroup-active {
    background-color: rgb(200, 221, 230);
}

.nested, .hidden {
    display: none;
}

.active {
    display: block;
}

.vehicleunit-active {
    background-color: rgb(220, 221, 230);
}

.workgroup:hover, .vehicleunit:hover {
    color: brown;
    text-decoration: underline;
}

.work {
    border-bottom: 1px solid #e6e9ed;
}
.subwork {
    font-size: .9rem;
    font-style: italic;
}

.work > div {
    align-items: center;
}

.btn-add-work::before {
    content: "\2610";
}

.btn-added-work::before {
    content: "\1F5F9";
}

.btn-delete-work::before {
    content: "\2613";
}