{% extends 'main/base.html' %}

{% block content %}

<section class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12 col-12">
                <p>Проект создан прежде всего для поддержки малого бизнеса и имеет цель обеспечить доступ всех
                    участников рынка СТО к информации касающейся ремонта автомобилей. Информация должна быть
                    помошником, а не препятствием на пути предпринимателя и только равный доступ к информации
                    способствует здоровой конкуренции на рынке.
                </p>
                <h3 class="p-3">Миссия</h3>
                <p>Вносить свой вклад в развитие малого бизнеса в России. Поддерживать энтузиазм людей, увлеченных
                    собственным бизнесом, и помогать им воплощать свою мечту.</p>
                <h3 class="p-3">База данных</h3>
                <p>База данных сайта является переработанной версией WorkshopData. В базе присутствуют только данные
                    о нормах времени ремонта легковых автомобилей. По мере развития, база данных будет расширятся
                    новыми марками и моделями.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}