{% extends "main/base.html" %}
{% block content %}
<section class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <form method="post" action="{% url 'password_change' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="py-3">
                        <button type="submit" class="autobtn">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock content %}