{% extends 'autonorms/base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'autonorms/css/autonorms.css' %}">

<section class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services py-2">
    <div class="container">
        <div class="row">
            {% if brands|length < 20 %}
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% elif brands|length < 40 %}
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter <= 20 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter > 20 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% elif brands|length < 60 %}
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter <= 20 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter > 20 and forloop.counter <= 40 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter > 40 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% elif brands|length < 80 %}
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter <= 20 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter > 20 and forloop.counter <= 40 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter > 40 and orloop.counter <= 60 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table>
                    <tbody>
                        {% for brand in brands %}
                        {% if forloop.counter > 60 %}
                        <tr>
                            <td class="brand-image"><img src="{{ STATIC_PREFIX }}/static/autonorms/images/logo/{{ brand.name }}.gif" alt="brand image"></td>
                            <td><a href="{% url 'select_model' brand.pk %}">{{ brand.name }}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}