{% extends 'autonorms/base.html' %}

{% block content %}
<section class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content1 py-5">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <h4>{{ title }}</h4>
                <div class="button wow fadeInUp py-2">
                    <a href="{% url 'select_modification' model_id %}" class="btn">❮ НАЗАД</a>
                </div>
                <h6 class="py-5">Модификация: {{ modification_info.name }} - {{ modification_info.year }}г. - {{ modification_info.horsepower }} л.с.
                    - {{ modification_info.engine_volume }}см³ - {{ modification_info.car_body }}</h6>
                <ul class="py-5">
                    {% for equipment in equipments %}
                    <li><a href="{% url 'work-order' %}?equipment={{ equipment.pk }}">{{ equipment.name }}</a></li>
                    {% endfor %}
                </ul>    
            </div>
        </div>
</section>
{% endblock content %}