<!-- Modal -->
<div class="modal fade" id="ModalSelectWorks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title px-3" id="SelectWorksModalLabel">Работы</h5>
                <input id="workSearch" class="form-control px-3" type="text" placeholder="Поиск по работам" value="" onkeyup="work_search(this);">
                <button type="button" class="btn-close px-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-4">
                        <ul id="generalWorksGroupsUL">
                            {% for workgroup, vehicleunits in workgroups.items %}
                            <li>
                                <span class="caret workgroup">{{ workgroup }}</span>
                                <ul class="nested">
                                    {% for vehicleunit, pk in vehicleunits.items %}
                                    <li class="vehicleunit" data-vehicleunit-pk="{{ pk }}">{{ vehicleunit }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <ul id="generalWorksUL">
                            {% for work in works %}
                            <li class="hidden pb-1 work" name="work" data-work-pk="{{ work.pk }}"
                                data-vehicleunit-pk="{{ work.vehicle_unit_pk }}">
                                <div class="row">
                                    <div class="col">
                                        {{ work.name }}
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-secondary btn-sm btn-add-work"
                                            onclick="get_work(this);"></button>
                                    </div>
                                </div>
                                {% if work.subworks %}
                                <ul>
                                    {% for subwork in work.subworks %}
                                    <li data-bs-toggle="tooltip" data-bs-placemant="bottom"
                                        title="Дополнительная работа">
                                        <span class="subwork">+ {{ subwork.name }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Вернуться в заказ-наряд</button>
            </div>
        </div>
    </div>
</div>