{% extends 'autonorms/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p class="badge bg-primary text-wrap fs-6">
    <a href="{% url 'select_model' brand_id %}">&#10094; НАЗАД</a>
</p>
<ul>
    {% for modification in modifications %}
    {% if exists_equipment %}
    <li><a href="{% url 'select_equipment' modification.pk %}">{{ modification.name }} {{ modification.year }} {{ modification.horsepower }} {{ modification.engine_code }} {{ modification.car_body }}</a></li>
    {% else %}
    <li><a href="{% url 'work-order' %}?modification={{ modification.pk }}">{{ modification.name }} {{ modification.year }} {{ modification.horsepower }} {{ modification.engine_code }} {{ modification.car_body }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}