{% extends 'autonorms/base.html' %}

{% block content %}
<section class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content1 py-5">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <h4>{{ title }}</h4>
                <div class="button wow fadeInUp py-2">
                    <a href="{% url 'select_model' brand_id %}" class="btn">❮ НАЗАД</a>
                </div>
                <ul class="py-5">
                    {% for modification in modifications %}
                    {% if exists_equipment %}
                    <li><a href="{% url 'select_equipment' modification.pk %}">{{ modification.name }} {{ modification.year }} {{ modification.horsepower }} {{ modification.engine_code }} {{ modification.car_body }}</a></li>
                    {% else %}
                    <li><a href="{% url 'work-order' %}?modification={{ modification.pk }}">{{ modification.name }} {{ modification.year }} {{ modification.horsepower }} {{ modification.engine_code }} {{ modification.car_body }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
</section>
{% endblock content %}