{% extends 'autonorms/base.html' %}
{% load static %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'autonorms/css/autonorms.css' %}">
<h1>{{ title }}</h1>
<div class="work-order pt-1">
    <div>
        <p>{{ mark }} {{ model }}</p>
        <p>{{ modification }} {{ equipment }}</p>
    </div>
    <table class="table">
        <caption>Калькуляция работ</caption>
        <thead>
            <tr>
                <th>№ п/п</th>
                <th>Работа</th>
                <th>Количество работ</th>
                <th>Нормо-часы</th>
                <th>Стоимость</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% include 'autonorms/modal_select_works.html' %}
<div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSelectWorks">Добавить работу</button>
</div>
<script src="{% static 'autonorms/js/autonorms.js' %}"></script>
{% endblock content %}